<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>CSS Animation Scene</title>
    <link rel="stylesheet" href="../styles/anime.css">
</head>
<body>
    <div class="scene">
        <img class="moving-image" src="https://wallpaperaccess.com/full/2221695.jpg" alt="Moving Image 1">
        <!-- <img class="moving-image" src="https://img.freepik.com/premium-vector/illustration-cartoon-character-cute-girl_82446-164.jpg?w=2000" alt="Moving Image 2"> -->
        <p class="moving-text">Moving Barbie</p>
    </div>
</body>
</html>
