<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Dancing Image Animation</title>
    <link rel="stylesheet" href="../styles//dancing.css">
</head>
<body>
    <div class="scene">
        <img class="dancing-image" src="https://t4.ftcdn.net/jpg/05/62/99/31/360_F_562993122_e7pGkeY8yMfXJcRmclsoIjtOoVDDgIlh.jpg" alt="Dancing Image">
        <div class="moving-element"></div>
    </div>
</body>
</html>
