<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/placeholders.css">
</head>
<body>

<section class="header" >
    <div class="loading"> kkkkkkkkkkkkkm
        <div>lllll</div>
        <div>lllll</div>
    </div>
</section>

    <section class="layout">
        <div class="loading">h</div>
        <div class="loading">h</div>
        <div class="loading">h</div>
    </section>
</body>
</html>